<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/">Inicio</a></li>
        <li class="nav-development {% if page.url contains 'development' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/tag/development">Desarrollo</a></li>
        <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/author/{{ site.nickname }}">Autor</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/about">Sobre mí</a></li>
        <li class="nav-contact {% if page.current == 'contact' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/contact">Contacto</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}/feed.xml">RSS</a>
</div>
<span class="nav-cover"></span>
